.hero_image {
  height: 100vh;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url('/images/image1.jpg');
  overflow: hidden;
}

.hero_content {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-start;
}

.avatar {
  margin-top: 7.5rem;
  margin-left: 14%;
  width: 250px;
  height: 250px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  overflow: hidden;
  background-color: #fff;
}

.text {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  margin-top: 6.5rem;
  margin-left: 4rem;
}

.text h1 {
  font-size: 2.8rem;
  font-weight: 300;
  display: inline-block;
}

.text div {
  display: inline-block;
}

.text div span {
  margin-top: -1rem;
  -webkit-animation: Typewriter-cursor 1s infinite;
  animation: Typewriter-cursor 1s infinite;
  margin-left: 1px;
  font-size: 2.8rem;
  font-weight: 200;
}
