.projects {
  margin-top: 5rem;
  text-align: center;
  margin: 0 auto;
}

.projects h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  margin-top: 8rem;
}

.cards {
  grid-column-start: center-start;
  grid-column-end: center-end;
  margin: 5rem 8rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 5rem;
}
